[Desktop Entry]
Version=1.0
Name=Stamp
Comment=Run Stamp Python App
Exec=bash -c "nohup your/conda/path run -n timekeeper --cwd change/to/your/path python stamp_app.py"
Icon=/home/leon/Documents/katt/phd/code/stamp/desktop_app/stamp.png
Terminal=false
Type=Application
Categories=Application;
